*{
    background: red;
}
h1{
    text-align: center;
    color: Blacl;
    font-family: "Russo+One", sans-serif;
    
}

#muyfuego{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 45px;
    right: 1px;
    float: right;
}
p{
    text-align: center;
    color: white;
}

.cosmic-spinner{
    height: 45px;
    width: 45px;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 45px;
    left: 3px;git 
}
.blue-button {
    border-radius: 28px;
    font-family: Bungee;
    color: black;
    font-size: 25px;
    background: blue;
    padding: 10px;
    margin: 20px;
    height: 50px;
}

.blue-button:hover {
    background: red;
    color: white;
}

