*{
    background: DarkCyan;
}
h1{
    text-align: center;
    color: LightCoral;
    font-family: 'Arimo', sans-serif;
    
}
p{
    text-align: center;
}
#muyfuego{
    height:40px;
}
#cosmic-spinner{
    height: 40px;
}